@charset "utf-8";
/* CSS Document */
<style>
		#homeBanner {
			width: 100%;
		}
		.center {
			text-align: center;
			margin-left: auto;
			margin-right:auto;
		}
		.banner {
			display:block;
			width: 100%;
		}
		#qrcode {
			display:block;	
			margin-left: auto;
			margin-right:auto;
		}
		#map2 {
			margin-left: auto;
			margin-right:auto;
			width: 320px;
			height: 320px;  
		}
	</style>

